# For markdownlint
.git/

# Dependency directories (remove the comment below to include it)
third_party/
node_modules/
.venv/

# SARIF files
*.sarif.json

# qmk config
qmk.ini

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

