# For markdownlint
.git/

# Dependency directories (remove the comment below to include it)
third_party/
node_modules/
.venv/

# SARIF files
*.sarif.json

# qmk config
qmk.ini

# Firmware binary files.
*.bin
*.hex
